@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ParryHotter";
  src: url("parry-hotter.regular.ttf") format("truetype");
  font-weight: normal; /* Adjust if you have bold/italic versions */
  font-style: normal;
}

:root {
  --primary-color: #3c231bb8;
  --beige-color: #f5deb3;
}

body {
  background-color: #3c231b;
  word-break: keep-all;

  @media screen and (min-width: 768px) {
    padding: 10em;
  }
}

.parchment {
  position: relative;
  display: flex;
  margin: 1em;
  padding: 3em 1.5em;
  box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
  background: var(--beige-color);
  flex-direction: column;
  color: #3b2f2f;
  opacity: 0;
  transform: translateY(50px);
  animation: floatUp 1.5s ease-out forwards;
}
@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#envelope {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    font-weight: 400;
    font-family: "ParryHotter", sans-serif;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#invitation {
  display: none;
  flex-direction: column;
  animation: fadeInOut 1s ease-out forwards;
}

#music {
  position: absolute;
  top: 6px;
  right: 6px;
}

.envelope {
  align-self: center;
}

#seal {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
  border: none;
  background-size: contain;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: none;
}
#logo {
  align-self: center;
  padding-bottom: 24px;
}

h1 {
  font-size: medium;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

h2 {
  font-size: large;
  text-align: center;
  font-family: "GowunBatang-Regular", sans-serif;
}

p {
  line-height: 1.3em;
  font-family: "GowunBatang-Regular", sans-serif;
  font-size: small;
}

.underline {
  text-decoration: underline;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

a {
  text-decoration: none;
  color: black;
}

#hedwig {
  animation: moveUpDown 500ms ease-in-out infinite alternate;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

#owl {
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  padding: 8px;
}

.map {
  align-items: end;
  display: flex;
  flex-direction: column;
}

.bottom {
  border-top: 0.5px solid;
  width: 100%;
  margin-top: 16px;
  color: var(--primary-color);
}

#bank {
  text-align: center;
}

#bank-account {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer {
  width: 100%;
}

#copy-alert {
  position: fixed;
  display: none;
  color: var(--beige-color);
  bottom: 16px;
  left: 16px;
  z-index: 10;
  background: var(--primary-color);
  padding: 4px;
}

.icon {
  width: 16px;
  height: 16px;
}

#questions {
  display: none;
  margin-top: 8%;
  font-family: "GowunBatang-Regular";

  li {
    font-size: 13px;
  }
}

.bold {
  font-weight: 600;
}
